global:
  ingress:
    configureCertmanager: false
    class: "nginx"
    annotations:
      kubernetes.io/tls-acme: true
      cert-manager.io/issuer: "letsencrypt-prod"
  hosts:
    domain: aidengrossman.com
    gitlab:
      name: gitlab.aidengrossman.com
  # Disable Rails bootsnap cache (temporary)
  rails:
    bootsnap:
      enabled: false
  shell:
    # Configure the clone link in the UI to include the high-numbered NodePort
    # value from below (`gitlab.gitlab-shell.service.nodePort`)
    port: 32022
  appConfig:
    dependencyProxy:
        enabled: true
        bucket: gitlab-dependency-proxy
        connection: {}
nginx-ingress:
  enabled: false
# Don't use certmanager, we'll self-sign
certmanager:
  install: false
prometheus:
  install: false
# Reduce replica counts, reducing CPU & memory requirements
gitlab:
  webservice:
    minReplicas: 1
    maxReplicas: 1
    ingress:
      tls:
        secretName: gitlab-tls
  sidekiq:
    minReplicas: 1
    maxReplicas: 1
  gitlab-shell:
    minReplicas: 1
    maxReplicas: 1
    service:
      type: NodePort
      nodePort: 32022
  gitaly:
    persistence:
      storageClass: gitlab-storage
      size: 25Gi
registry:
  hpa:
    minReplicas: 1
    maxReplicas: 1
  ingress:
    tls:
      secretName: gitlab-registry-tls
minio:
  persistence:
    storageClass: gitlab-storage
    size: 10Gi
  ingress:
    tls:
      secretName: gitlab-minio-tls
redis:
  master:
    persistence:
      storageClass: gitlab-storage
      size: 5Gi
postgresql:
  persistence:
    storageClass: gitlab-storage
    size: 8Gi
